@import url("base.css.less");
body { background:#4c2702; }
#BodyWrap {
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:;
  -webkit-border-radius:10px 5px 5px 5px;
  border-radius:10px 5px 5px 5px;
  background:white;
  margin:1em auto;
  max-width:1000px;
  padding:1.5em 2em 3em 2em;
}
#ContentWrap {
  min-height:90%;
  width:70%;
}
.message {
  background:#ffffff url('/css/admin/images/information-bw.png') 50px 50% no-repeat;
  border:1px solid #dddddd;
  border-width:1px 0;
  padding:2em 100px;
  text-align:center;
  color:black;
}
.message:hover { background-image:url('/css/admin/images/information.png'); }
table {
  width:100%;
  background:#fcfcfc;
}
th { padding:0.3em; }
th a:link, th a:visited { color:#e5e5e5; }
form { width:100%; }
fieldset {
  width:100%;
  margin:2em 0 1em 0;
}
fieldset fieldset {
  margin-left:1.5em;
  border-left:2px solid #dddddd;
  padding-left:1em;
  width:97%;
}
legend {
  font-size:1.4em;
  padding-bottom:.5em;
}
.input {
  margin:0 0 0.5em 0;
  width:100%;
}
.input input, .input select {
  border:1px solid #bbbbbb;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  float:left;
  clear:right;
  display:block;
  height:2em;
  line-height:2em;
  width:20em;
  padding:.25em .5em;
  background-color:#ffffff;
}
.input input:hover, .input input:focus, .input textarea:hover, .input textarea:focus {
  outline:none;
  border-color:#555555;
  -webkit-box-shadow:0px 0px  0px #555555;
  -moz-box-shadow:0px 0px  0px #555555;
  box-shadow:0px 0px  0px #555555;
}
.input .form-error:focus, .input .form-error:hover {
  border-color:#d45e5e;
  -webkit-box-shadow:0px 0px 5px 0px #aa0000;
  -moz-box-shadow:0px 0px 5px 0px #aa0000;
  box-shadow:0px 0px 5px 0px #aa0000;
}
.input textarea {
  border:1px solid #bbbbbb;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  float:left;
  clear:right;
  display:block;
  min-width:30em;
  width:50em;
  height:2em;
  margin:.25em 0;
  padding:.25em .5em;
}
.input .form-error { border-color:#d45e5e; }
.input label {
  height:2em;
  line-height:2em;
  width:10em;
  display:block;
  float:left;
  padding:.25em 0;
}
.input.checkbox input, .input.radio input {
  width:auto;
  margin:0.25em 0.5em;
}
#Hinter {
  width:auto;
  min-width:10em;
  max-width:60%;
  position:absolute;
  z-index:5;
  background-color:#f8f8f8;
  border:5px solid #dddddd;
  border:5px solid rgba(170,170,170,0.5);
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  padding:.5em;
}
#Hinter .close {
  display:block;
  width:1em;
  height:1em;
  line-height:1em;
  text-align:center;
  font-weight:bold;
  position:absolute;
  top:10px;
  right:10px;
  padding:.3em;
  text-decoration:none;
  color:#ffffee;
  background:#333333;
  -moz-border-radius-topleft:.2em;
  -moz-border-radius-topright:.2em;
  -moz-border-radius-bottomright:.2em;
  -moz-border-radius-bottomleft:;
  -webkit-border-radius:.2em .2em .2em .2em;
  border-radius:.2em .2em .2em .2em;
}
#Hinter .close:hover, #Hinter .close:focus {
  background:red;
  color:#333333;
}
.loading, .button.loading {
  background-image:url('/css/images/loading_horizontal.gif');
  background-position:center center !important;
  background-repeat:no-repeat;
}
h1 {
  color:black;
  font-size:2em;
}
header h2 { margin-top:.2em; }
header h1 {
  margin-top:0;
  border-bottom:1px solid #007c21;
}
.timestamp { font-size:.7em; }
.task {
  list-style-type:none;
  margin-left:50px;
  position:relative;
}
.task .complete, .task .uncomplete {
  position:absolute;
  left:-1.5em;
  width:1em;
  overflow:hidden;
  text-decoration:none;
  font-size:2em;
  text-align:right;
}
.task .complete { color:#cccccc; }
.task .complete:hover, .task .complete:focus { color:#007c21; }
.task .uncomplete { font-weight:bold; }
.task .uncomplete:hover, .task .uncomplete:focus { color:#a65200; }
.task .content {
  width:80%;
  float:left;
}
.task .content h2 {
  margin-top:0;
  font-size:1.2em;
}
.task .content pre { margin:0; }
.task .links {
  width:20%;
  float:right;
}
.task .links a {
  display:block;
  padding:0;
  float:right;
  clear:right;
  margin-bottom:.5em;
  background:url('/css/images/icons.png') 0px -32px no-repeat;
  width:32px;
  height:32px;
  overflow:hidden;
  text-indent:10em;
}
.task .links a:hover, .task .links a:focus { background-position:0px 0px; }
.task .links a.delete { background-position:-32px -32px; }
.task .links a.delete:hover, .task .links a.delete:focus { background-position:-32px 0; }
.task.completed .links { display:none; }
#AddTask #TaskDesc { width:100%; }
.completed {
  font-size:.7em;
  color:#666666;
}
.completed .complete, .completed .uncomplete { left:-1.7145em; }
@media all and (min-width: 1100px) {
  #Menu { left:-111px; }
  #Menu ul {
    width:105px;
    border-right:none;
  }
  #Menu ul li { width:110px; }
  #Menu ul a { width:110px; }
  #Menu ul a:hover, #Menu ul a:focus {
    left:-10px;
    padding-left:14px;
  }
}
