[submodule "libraries/lithium"]
	path = libraries/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "app/libraries/ruckusing_migrations"]
	path = app/libraries/ruckusing_migrations
	url = https://github.com/nashape/ruckusing-migrations.git
[submodule "app/libraries/li3_ruckusing_migrations"]
	path = app/libraries/li3_ruckusing_migrations
	url = https://github.com/nashape/li3_ruckusing_migrations.git
[submodule "app/libraries/ruckusing-migrations"]
	path = app/libraries/ruckusing-migrations
	url = https://github.com/nashape/ruckusing-migrations.git
[submodule "app/libraries/li3_dateable"]
	path = app/libraries/li3_dateable
	url = https://github.com/weluse/li3_dateable.git
[submodule "app/libraries/li3_behaviors"]
	path = app/libraries/li3_behaviors
	url = https://github.com/nateabele/li3_behaviors.git
[submodule "app/libraries/li3_less"]
	path = app/libraries/li3_less
	url = https://github.com/glaszig/li3_less
